<div local-class='pull-wrapper'>
  <div local-class='title-wrapper'>
    <h4 local-class='title'>{{pull.title}}</h4>
    <h4 local-class='number'>#{{pull.number}}</h4>
  </div>
  <div local-class='body'>{{markdown-render pull.body}}</div>
</div>